
.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.weather-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* CityInput.css */
.city-input {
  margin-bottom: 30px;
}

input[type='text'] {
  padding: 15px;
  width: 300px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

li {
  cursor: pointer;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f0f0f0;
}

button {
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* WeatherCard.css */
.weather-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.weather-info {
  margin-top: 20px;
}

.weather-info p {
  margin: 10px 0;
}

.loading {
  margin-top: 20px;
}
